body {
    position: relative;
    overflow: auto;
}

section {
    padding-top: 20px;
}

a,
a:hover,
a:visited {
  color: #34a0b3;
}

.navbar {
  margin-bottom: 10px;
}

#main_container {
  padding-top: 65px
}


#aporeto-icon {
  background: url("../img/aporeto-logo-white.png") top left no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 4px 0 0;
}

#aporeto-fullname {
  background: url("../img/aporeto-fullname-white.png") top left no-repeat;
  background-size: 87.19px 20px;
  width: 87.19px;
  height: 20px;
  display: block;
  margin: 0 4px 0 0;
}

/* Positions */

.pull-right,
.float-right {
    float: right;
}


/* Texts */
.small {
  font-size: 85%;
}


pre,
.code {
    white-space: pre;
    font-family: Menlo, Courier;
    overflow: scroll;
}

pre {
  display: block;
  font-size: 13px;
  margin: 0;
  padding: 0 20px
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

.text-center {
  text-align: center;
}


/* Types */

.enumvalues {
    margin-top: 20px;
}
.enumvalues ul {
    font-weight: normal;
    font-family: 'Source Code Pro', Menlo, Courier;
    list-style: none;
    padding-left: 5px;
    color: #444;
}

.wiki p {
    line-height: 20px;
}

.wiki h3 {
    margin-top: 30px;
}
.wiki ul {
    font-size: 0.9em;
}

.wiki ul li {
    margin-bottom: 10px;
}

.wiki code {
    white-space: pre;
    color: #333;
    background-color: #f6f6f6;
    border: 1px solid #f0f0f0;
    padding: 2px;
    display: block;
}

/* Odd / Even */

.odd {
  background: #aaa;
}

.even {
  background: white;
}

.bordered-row {
    padding: 10px 0;
    border-top: 1px solid #E7E7E7
}

.bordered-row:last-child {
    border-bottom: 1px solid #E7E7E7
}


.dropdown-menu {
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .hide-xs {
        display: none;
    }
}

/* svg */
svg line.parents,
svg .parents rect {
  stroke: #A333C8;
  stroke-width: "2px";
  fill: #f9f9f9;
}

svg .parents,
svg .parents text {
  fill: #A333C8;
  stroke: "none"
}

svg .parents:hover .box {
  fill: #F5E3FB;
}


svg line.children,
svg .children rect {
  stroke: #6435C9;
  stroke-width: "2px";
  fill: #f9f9f9;
}

svg .children {
  fill: #6435C9;
  stroke: "none"
}

svg .children:hover .box {
  fill: #ECE5FB;
}

svg line.self,
svg .self rect {
  stroke: #34a0b3;
  stroke-width: "2px";
  fill: #f9f9f9;
}

svg .self,
svg .self text {
  fill: #34a0b3;
  stroke: "none"
}



svg line.disabled,
svg .disabled rect {
  stroke: #ccc;
  stroke-width: "2px";
  fill: #f9f9f9;
}

svg .disabled,
svg .disabled text {
  fill: #ccc;
  stroke: "none"
}
